.homemain-main {
  width: 100%;
  min-height: 100%;
  padding: 128px 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homemain-const {
  width: 1110px;
  max-width: 1110px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.homemain-texts {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--white);
}

.homemain-texts-want {
  font-family: var(--desk_heading-xs-ff);
  font-size: var(--desk_heading-xs-fs);
  font-weight: var(--desk_heading-xs-fw);
  line-height: var(--desk_heading-xs-lh);
  letter-spacing: var(--desk_heading-xs-ls);
}

.homemain-texts-h1 {
  font-family: var(--desk_heading-xl-ff);
  font-size: var(--desk_heading-xl-fs);
  font-weight: var(--desk_heading-xl-fw);
  line-height: var(--desk_heading-xl-lh);
  letter-spacing: var(--desk_heading-xl-ls);
}

.homemain-texts-desc {
  font-family: var(--desk_body-text-ff);
  font-size: var(--desk_body-text-fs);
  font-weight: var(--desk_body-text-fw);
  line-height: var(--desk_body-text-lh);
  letter-spacing: var(--desk_body-text-ls);
}

.homemain-explore-link {
  position: relative;
  width: 272px;
  height: 272px;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--very-dark-navy);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--desk_heading-s-ff);
  font-size: var(--desk_heading-s-fs);
  font-weight: var(--desk_heading-s-fw);
  line-height: var(--desk_heading-s-lh);
  letter-spacing: var(--desk_heading-s-ls);
  cursor: pointer;
}

@media (hover: hover) {
  .homemain-explore-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: transform var(--trans-timing-func) var(--trans-duration);
    animation: btn-animation var(--trans-timing-func) var(--trans-duration)
      alternate-reverse;
    transform-origin: center;
    pointer-events: none;
  }

  .homemain-explore-link:hover:before {
    transform: scale(1.6);
  }

  @keyframes btn-animation {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.6);
    }
  }
}

/* Medium */
@media screen and (max-width: 1439px) {
  .homemain-main {
    padding: 128px 40px;
  }

  .homemain-const {
    align-items: center;
    flex-direction: column;
  }

  .homemain-texts {
    width: unset;
    text-align: center;
  }

  .homemain-const {
    gap: 66px;
  }

  .homemain-texts-desc {
    font-family: var(--tab_body-text-ff);
    font-size: var(--tab_body-text-fs);
    font-weight: var(--tab_body-text-fw);
    line-height: var(--tab_body-text-lh);
    letter-spacing: var(--tab_body-text-ls);
  }
}

/* Small */
@media screen and (max-width: 767px) {
  .homemain-main {
    padding: 24px;
  }

  .homemain-explore-link {
    width: 144px;
    height: 144px;
    font-family: var(--mob_heading-s-ff);
    font-size: var(--mob_heading-s-fs);
    font-weight: var(--mob_heading-s-fw);
    line-height: var(--mob_heading-s-lh);
    letter-spacing: var(--mob_heading-s-ls);
  }

  .homemain-const {
    gap: 48px;
  }

  .homemain-explore-link {
    margin: auto 0;
  }

  .homemain-texts-want {
    font-family: var(--mob_heading-xs-ff);
    font-size: var(--mob_heading-xs-fs);
    font-weight: var(--mob_heading-xs-fw);
    line-height: var(--mob_heading-xs-lh);
    letter-spacing: var(--mob_heading-xs-ls);
  }

  .homemain-texts-h1 {
    font-family: var(--mob_heading-xl-ff);
    font-size: var(--mob_heading-xl-fs);
    font-weight: var(--mob_heading-xl-fw);
    line-height: var(--mob_heading-xl-lh);
    letter-spacing: var(--mob_heading-xl-ls);
  }

  .homemain-texts-desc {
    font-family: var(--mob_body-text-ff);
    font-size: var(--mob_body-text-fs);
    font-weight: var(--mob_body-text-fw);
    line-height: var(--mob_body-text-lh);
    letter-spacing: var(--mob_body-text-ls);
  }
}
