.homepage {
  width: 100%;
  height: 100%;
  background-image: url("/src//assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--very-dark-navy);
  background-position: center;
  padding-top: 136px;
}

/* Medium */
@media screen and (max-width: 1439px) {
  .homepage {
    padding-top: 96px;
    background-image: url("/src//assets/home/background-home-tablet.jpg");
  }
}

/* Small */
@media screen and (max-width: 767px) {
  .homepage {
    padding-top: 88px;
    background-image: url("/src//assets/home/background-home-mobile.jpg");
  }
}
